<!--Created by Matt Chieco and Evan Rigsby SER 310-->
<!doctype html>

<html lang="en" ng-app="fijiApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Quinnipiac FIJI - Recruitment</title>
    <link rel="shortcut icon" href="./images/Phi Gamma Delta BCL Logo-03.png" type="image/png">
    <meta name="description" content="Recruitment">
    <meta name="author" content="Mattc">

    <link rel="stylesheet" href="./css/recruitment.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>
<header>
    <div class="header">
        <a href="https://www.facebook.com/qufiji/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/quinnipiacfiji?lang=en" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/quinnipiacfiji/?hl=en" class="fa fa-instagram"></a>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto; height: 50px; background-color: #663399; margin-left: 15px;"
            id="login_btn">Eboard Login</button>
    </div>
    <div id="id01" class="modal">

        <form class="modal-content animate" action="eboardadmin.html" method="GET" id="my_form">


            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button style="background-color: #663399;" type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</header>
<script>
    function eventSubmit() {
        alert("Your event has been successfully been submitted!");
    }
</script>

<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bgnav">
        <a class="navbar-brand" href="index.html">
            <img src="./images/Phi-Gamma-Delta-BCL-Logo---WEBSITE.png" width="200" height="50" alt="">
        </a>
        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="philanthropy.html">Philanthropy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="currentbrothers.html">Current Brothers</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="recruitment.html">Recruitment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="upcomingevents.html">Upcoming Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contactpage.html">Contact</a>
                </li>
        </div>
    </nav>
    <h1>Recruitment</h1>
    <p>One of the most important aspects of Phi Gamma Delta is the recruitment. Without having new members every
        semester, the Fraternity can no longer run.
        We strive to get the highest quality guys to step into the shoes of the current brothers. This will allow Phi
        Gamma Delta to be a long standing fraternity on all campuses with high standing.
        <br>
        <br>
        During the recruitment process, there are many social events and gatherings to get the know the brothers to see
        if you are a good fit. If you feel you are a good fit and want to be apart of the Fraternity, please fill out
        the form below to sign up for the recruitment process.
        <br>
    </p>
    <div class="container">
        <form id="recForm" name="recForm"ng-controller="recController" ng-submit="submitForm()" novalidate>

            <span style="color:red" ng-show="recForm.fname.$error.required && !recForm.fname.$pristine">First Name is required.</span>
            <input ng-model="fname"type="text" id="fname" name="fname" placeholder="First Name" required>

            <span style="color:red" ng-show="recForm.lname.$error.required && !recForm.lname.$pristine">Last Name is required.</span>
            <input ng-model="lname"type="text" id="lname" name="lname" placeholder="Last Name" required>

            <span style="color:red" ng-show="recForm.phone.$error.required && !recForm.phone.$pristine">Phone Number is Required.</span>
            <span style="color:red" ng-show="recForm.phone.$error.pattern">Please enter valid number.</span>
            <input ng-model="phone" type="tel" id="phone" name="phone" placeholder="Phone Number" ng-pattern="/^[0-9]{10}$/"required>

            <span style="color:red" ng-show="recForm.email.$error.required && !recForm.email.$pristine">Email is required.</span>
            <span style="color:red" ng-show="recForm.email.$error.email">Invalid email address.</span>
            <input ng-model="email" type="email" id="email" name="email" placeholder="Email" required>
            
            <input style="background-color: #663399" type="submit" value="Submit">

        </form>
    </div>
    <p>
        <br>
        Some Benefits of Greek Life
        <ul style="padding-left:100px;">
            <li>Out of the 5,000 general fraternity chapters, a majority consistently achieve higher grade point
                averages than
                the all male averages.</li>
            <li>65% of fraternity members graduate from college, compared with only 45% of non-members.</li>
            <li>Of the current United States Senators and Representatives, 24% are fraternity members.</li>
            <li>85% of the U.S. Supreme Court Justices since 1910, have been Greek.</li>
            <li>Of the nation’s 50 largest corporations, 43 are headed by Greeks.</li>
            <li>85% of Fortune 500 executives are fraternity members.</li>
        </ul>
    </p>
    <footer class="footer">
        <div class="container2">
            <span class="text-muted">© 2018 Copyright: Quinnipiac FIJI - <a id="footer" href="https://www.phigam.org">Phi
                    Gamma Delta Headquarters</a> - Created and Maintained by Brothers </span>
        </div>
    </footer>
</body>

<script type='text/javascript' src="./app/app.js"></script>
<script type='text/javascript' src="./app/controllers/recruitmentcontroller.js"></script>

</html>