<div ng-controller="admincontactController">
    <button type="button" class="btn btn-danger" style="margin-bottom: 15px; float: right;" ng-click="deleteAll(contacts)">Delete All</button>
    <div style="margin-top: 20px;">
        <div class="table-responsive table-hover table-fixed table-condensed">          
            <table class="table">
              <thead>
                <tr>
                  <th style="width:12.5%">First Name</th>
                  <th style="width:12.5%">Last Name</th>
                  <th style="width:20%">Email</th>
                  <th style="width:30%">Message</th>
                  <th style="width:25%">Edit</th>
                </tr>
              </thead>
              <tbody ng-repeat="contact in contacts">
                <tr>
                  <td>{{contact.firstName}}</td>
                  <td>{{contact.lastName}}</td>
                  <td>{{contact.email}}</td>
                  <td>{{contact.message}}</td>
                  <td style="width: 2%"><button class="btn btn-danger" ng-click="remove(contact._id)">Delete</button></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
    </div>
</div>