<div ng-controller="admincontactController">
    <div style="margin-top: 20px;">
        <div class="table-responsive table-hover table-fixed">          
            <table class="table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody ng-repeat="contact in contacts">
                <tr>
                  <td>{{contact.firstName}}</td>
                  <td>{{contact.lastName}}</td>
                  <td>{{contact.email}}</td>
                  <td>{{contact.message}}</td>
                  <td style="width: 2%"><button class="btn btn-info" ng-click="remove(edit._id)">Edit</button></td>
                  <td style="width: 2%"><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
</div>
</div>