<div class="row">
<div class="col-12 col-md-4 mt-2"><a class="card" href="#!events/allevents">All Events</a></div>
<div class="col-12 col-md-4 mt-2"><a class="card" href="#!events/createvents">Create Events</a></div>
</div>

<div style="margin-top: 20px;">
    <div class="table-responsive table-hover table-fixed table-condensed">          
        <table class="table">
          <thead>
            <tr>
              <th style="width:15%">Event Name</th>
              <th style="width:30%">Start Date</th>
              <th style="width:30%">End Date</th>
              <th style="width:25%">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="event in events">
              <td>
                <span editable-text="event.name" e-name="name" e-form="rowform" e-required>
                {{ event.name || 'empty' }}
              </span>
            </td>
              <td>
                <span editable-datetime="event.startDate" e-name="startDate" e-form="rowform" e-required>
                {{ event.startDate | date: 'medium' }}
              </span>
            </td>
              <td>        
                <span editable-datetime="event.endDate" e-name="endDate" e-form="rowform" e-required>
                {{ event.endDate | date: 'medium' }}
              </span>
            <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="save($data, event._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == event">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    save
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                    cancel
                  </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                  <button type="button" class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
                  <button type="button" class="btn btn-danger" ng-click="remove(event._id)">Del</button>
                </div>  
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
</div>