<div class="row">
<div class="col-12 col-md-2 mt-2 eventbutton"><a class="card" href="#!events/allevents">All Events</a></div>
<div class="col-12 col-md-2 mt-2 eventbutton"><a class="card" href="#!events/createvents">Create Events</a></div>
</div>

<div style="margin-top: 20px;">
    <div class="table-responsive table-hover table-fixed table-condensed">          
        <table class="table">
          <thead>
            <tr>
              <th style="width:25%">Event Name</th>
              <th style="width:30%">Start Date</th>
              <th style="width:30%">End Date</th>
              <th style="width:15%">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="event in events">
              <td>{{event.name}}</td>
              <td>{{event.startDate | date: 'medium'}}</td>
              <td>{{event.endDate  | date:'medium'}}</td>
              <td style="width: 2%"><button class="btn btn-danger" ng-click="remove(event._id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
</div>
