<div ng-controller="adminrecruitmentController">
    <div style="margin-top: 20px;">
        <div class="table-responsive table-hover table-fixed">          
            <table class="table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                </tr>
              </thead>
              <tbody  ng-repeat="recruit in recruitment">
                <tr>
                  <td><a href="#" editable-text="recruit.firstName"e-label="First Name">{{ recruit.firstName || "empty" }}</a></td>
                  <td>{{recruit.lastName}}</td>
                  <td>{{recruit.email}}</td>
                  <td>{{recruit.phoneNumber}}</td>
                  <td style="width: 2%"><button class="btn btn-info" ng-click="update(recruit._id)">Save</button></td>
                  <td style="width: 2%"><button class="btn btn-danger" ng-click="remove(recruit._id)">Remove</button></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
    </div>
</div>
