<div ng-controller="adminrecruitmentController">
    <div style="margin-top: 20px;">
        <div class="table-responsive table-hover table-fixed table-condensed">          
            <table class="table">
              <thead>
                <tr>
                  <th style="width:15%">First Name</th>
                  <th style="width:15%">Last Name</th>
                  <th style="width:30%">Email</th>
                  <th style="width:15%">Phone Number</th>
                  <th style="width:25%">Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="recruit in recruitment">
                  <td>
                    <span editable-text="recruit.firstName" e-name="firstName" e-form="rowform" e-required>
                    {{ recruit.firstName || 'empty' }}
                  </span>
                </td>
                  <td>
                    <span editable-text="recruit.lastName" e-name="lastName" e-form="rowform" e-required>
                    {{ recruit.lastName || 'empty' }}
                  </span>
                </td>
                  <td>        
                    <span editable-text="recruit.email" e-name="email" e-form="rowform" e-required>
                    {{ recruit.email || 'empty' }}
                  </span>
                </td>
                  <td>
                    <span editable-text="recruit.phoneNumber" e-name="phoneNumber" e-form="rowform" e-required>
                    {{ recruit.phoneNumber || 'empty' }}
                  </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="save($data, recruit._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == recruit">
                      <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                        save
                      </button>
                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        cancel
                      </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                      <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                      <button type="button" class="btn btn-danger" ng-click="remove(recruit._id)">del</button>
                    </div>  
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
    </div>
</div>
